__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtualenv
.venv/
venv/
ENV/

# Local env + data
.env
db.sqlite3

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Static output
staticfiles/
